/* ------------ */
/* REUSABLE */
/* ------------ */

html {
  font-family: "Source Sans Pro", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: black;
  background-color: white;
}

blockquote {
  border-left: 0.5em solid lightgrey;
  padding-left: 3em;
  margin-left: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

/* CODE INLINE & BLOCK */

pre {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  margin: 0;
  padding: 0.2em 0.4em;
}

/* Clearfix and Hidden */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.hidden {
  display: none;
}

/** Screen reader */
.screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* ------------ */
/* HEADERS */
/* ------------ */

header {
  text-align: center;
  padding-top: 17px;
  padding-bottom: 10px;
}

nav {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 15px;
}

nav ul li {
  display: inline;
  padding: 0 7px;
}
nav li.active a {
  border-bottom: 1px solid #5b5b5b;
}
nav ul li a {
  color: #5b5b5b;
  text-decoration: none;
  border-bottom: none;
  padding-bottom: 2px;
}

/* ------------------------ */
/* CONTENT WRAPPERS */
/* ------------------------ */

#site-wrapper {
  max-width: 768px;
  margin: 0 auto;
  margin-top: 0px;
  padding: 60px 30px 0px;
  overflow-wrap: break-word;
}
#site-wrapper-centered {
  max-width: 768px;
  margin: 0 auto;
  margin-top: 0px;
  /* padding: 60px 30px 0px; */
  overflow-wrap: break-word;
}

/* ------ MAIN ----- */

main {
  width: 100%;
  margin-bottom: 2em;
}

main.center {
  width: 100% !important;
}

main.article.list h1,
h3,
h4,
h5,
p,
.body ul,
ol,
pre {
  margin-bottom: 20px;
}

main article.list .tags a,
main article.single .tags a {
  text-decoration: none;
  border-bottom: none;
}
main article.list .tags a:before,
main article.single .tags a:before {
  content: "#";
}

main article.list a {
  text-decoration: none;
  color: black;
}

footer {
  border-top: 1px solid grey;
  padding-top: 2em;
}
